In [47]:
import kagglehub
import pandas as pd
import os
path = kagglehub.dataset_download(
    "architsharma01/loan-approval-prediction-dataset"
)
file_path = os.path.join(path, "loan_approval_dataset.csv")
df = pd.read_csv(file_path)

In [48]:
df.head(3)

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [50]:
df.duplicated().sum()

np.int64(0)

In [51]:
df[" education"].value_counts()

 education
Graduate        2144
Not Graduate    2125
Name: count, dtype: int64

In [52]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df[" education"]=le.fit_transform(df[" education"])
le2=LabelEncoder()
df[" loan_status"]=le2.fit_transform(df[" loan_status"])
le3=LabelEncoder()
df[" self_employed"]=le3.fit_transform(df[" self_employed"])

In [53]:
df.head(3)

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,0,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0
1,2,0,1,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1
2,3,3,0,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,1

In [54]:
df.drop(columns=["loan_id"], inplace=True)

In [55]:
from sklearn.model_selection import train_test_split
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [56]:
x.head(2)

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
0,2,0,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000
1,0,1,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000

In [57]:
y.head(2)

0    0
1    1
Name:  loan_status, dtype: int64

In [58]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=7)

In [59]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)   
x_test=scaler.transform(x_test)

In [60]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
rf=RandomForestClassifier()
sv=SVC()
lr=LogisticRegression()

In [61]:
from sklearn.metrics import accuracy_score, classification_report

In [62]:
rf.fit(x_train, y_train)
y_pred1=rf.predict(x_test)   
print("Accuracy:", accuracy_score(y_test, y_pred1))
print(classification_report(y_test, y_pred1))
# choosen

Accuracy: 0.9836065573770492
              precision    recall  f1-score   support

           0       0.98      0.99      0.99       521
           1       0.99      0.97      0.98       333

    accuracy                           0.98       854
   macro avg       0.98      0.98      0.98       854
weighted avg       0.98      0.98      0.98       854

In [63]:
sv.fit(x_train, y_train)
y_pred2=sv.predict(x_test)  
print("Accuracy:", accuracy_score(y_test, y_pred2))
print(classification_report(y_test, y_pred2))

Accuracy: 0.9508196721311475
              precision    recall  f1-score   support

           0       0.96      0.96      0.96       521
           1       0.94      0.94      0.94       333

    accuracy                           0.95       854
   macro avg       0.95      0.95      0.95       854
weighted avg       0.95      0.95      0.95       854

In [64]:
lr.fit(x_train, y_train)
y_pred3=lr.predict(x_test)  
print("Accuracy:", accuracy_score(y_test, y_pred3))
print(classification_report(y_test, y_pred3))

Accuracy: 0.9192037470725996
              precision    recall  f1-score   support

           0       0.93      0.94      0.93       521
           1       0.91      0.88      0.89       333

    accuracy                           0.92       854
   macro avg       0.92      0.91      0.91       854
weighted avg       0.92      0.92      0.92       854

In [65]:
import joblib
joblib.dump(le, "education_encoder.pkl")
joblib.dump(le2, "loan_status_encoder.pkl")
joblib.dump(le3, "self_employed_encoder.pkl")
joblib.dump(scaler, "scaler.pkl")
joblib.dump(rf, "model.pkl")

['model.pkl']